<header>
  <h1 routerLink="">Paquetec</h1>
  <div class="search-container">
      <input type="text" placeholder="Buscar..." id="searchInput">
      <button id="searchButton">
          <i class="fa fa-search"></i> 
      </button>
  </div>
  <nav>
      <ul class="nav-buttons">
          <li><a routerLink="/login" class="btn-nav">Iniciar sesion</a></li>
          <li><a href="#quienes-somos" class="btn-nav">Quienes Somos</a></li>
          <li><a href="#servicios" class="btn-nav">Servicios</a></li>
          <li><a href="#metodos-pago" class="btn-nav">Metodos de Pago</a></li>
          <li><a href="#contacto" class="btn-nav">Contacto</a></li>
          <li><a href="#mapa"class="btn-nav">Mapa</a></li>
          <li><a href="#detalles-paquete"class="btn-nav">Detalles del paquete</a></li>
      </ul>
  </nav>
</header>


<router-outlet />
