body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, orange, white);
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkorange;
}

#precio-estimado {
    text-align: center;
    margin-top: 20px;
}

#mapa-direcciones {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
   
}

#map {
    height: 400px;
    border: 2px solid #ddd;
    border-radius: 8px;
    
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
